*{
    margin: 0;
    padding:0;
}
:root{
    --text-color:rgb(18, 143, 226);
}

.container{
    
    min-height: 100vh;
    background-color: white;
    border: 20px solid rgb(18, 143, 226);
}


.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
    margin: 50px;
    display: flex;
    justify-content: space-between;  
    align-items: flex-end;
}
.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
}
.top-section h6{
    font-size: 20px;
    color: rgba(129, 129, 129, 0.944);
    text-align: end;
}
.image-container{
    border-radius: 50%;
    overflow: hidden;
}
.image-container, img{
    width: auto;
    height:350px;
}

.about-section{
    margin-top: 50px;
}

.about-section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-section p{
    color: var(--text-color);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
}

.biography{
    margin: 50px 0;

}

.biography h2{
    margin-bottom: 20px;
}

.biography ul{
  margin-left: 50px;
}

.biography li{
    margin-bottom: 15px;
    color: var(--text-color);
}

footer h5{
    font-style: italic;
    text-align: end;
    margin-bottom: 10px;
    font-size: larger;
}

footer h5 a{
    color: var(--text-color);
}